<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>DGPD</title>
		<link rel="stylesheet" href="/static/layui/css/layui.css">
		<link rel="stylesheet" href="/static/css/DB_CSS/home.css" />
	</head>

	<body>
		<div class="layui-container" style="min-width: 1140px;">
			<div class="layui-row" id="header">
				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="banner"></div>

				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="bar">
					<ul class="layui-nav" lay-filter="" id="navbar">
						<li class="layui-nav-item ">
							<a href="../index">Home</a>
						</li>
						<li class="layui-nav-item">
							<a href="../About">About</a>
						</li>
						<li class="layui-nav-item">
							<a href="../Download">Download</a>
						</li>
						<li class="layui-nav-item">
							<a href="../Submit">Submit</a>
						</li>
						<li class="layui-nav-item layui-this">
							<a href="../Contact">Contact</a>
						</li>
					</ul>

				</div>

			</div>

			<div class="layui-row" id="bodyer">
				<div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1" id="overview" style="margin-bottom:20px;margin-top:20px;">
					<fieldset class="layui-elem-field layui-field-title">
						<legend><i>Contact us</i></legend>
					</fieldset>
					<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" style="margin:20px 0;">

					<div class="layui-text" style="font-size: 15px">
						<span style="padding-left:1em;text-indent:1em;text-align: justify;text-justify:inter-ideograph;">We welcome any suggestions on how to improve our service, please do not hesitate to contact us with feedback.
							</span><br><br>
						<span style="padding-left:1em;text-indent:1em;text-align: justify;text-justify:inter-ideograph;">School of Information and Computer, Laboratory of Anhui Beidou Precision Agriculture Information Engineering, Anhui Agricultural University, Hefei, Anhui 230036, China</span>

					</div>

						<br>
					<div class="layui-text" style="font-size: 15px;">
						<span style="padding-left:1em;font-weight: bold">Address: </span><span> 130, Changjiang West Road, Hefei230601, Anhui, China</span>

					</div>
						<br>
					<div class="layui-text" style="font-size: 15px">
						<span style="padding-left:1em;font-weight: bold">Email:</span><span> hanghu@stu.ahau.edu.cn or zhenyuyue@ahau.edu.cn </span>

					</div>

					</div>
				</div>


			</div>

		</div>
		<div class="layui-row" id="footer">

			<div class="copyright">
				Copyright©
				<a class="ow" href="http://eng.ahau.edu.cn/" target="_blank">Anhui Argricultural University</a> ©All Rights Reserved.
			</div>
			<div class="use">
				<!-- Website content is for educational and research purposes only and is not intended to be used for medical advice, diagnosis or treatment. -->
			</div>
		</div>
		<script src="/static/layui/layui.all.js"></script>
		<script>
			layui.use('element', function() {
				var element = layui.element;
			});
		</script>
	</body>

</html>
