<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>dbWorm</title>
		<link rel="stylesheet" href="/static/layui/css/layui.css">
		<link rel="stylesheet" href="/static/css/DB_CSS/global.css" />
		<link rel="stylesheet" href="/static/css/DB_CSS/home.css" />

<style>

hr{
    margin-top: 20px;
    margin-bottom:  20px;
}
blockquote{
	font-size:1.3em;
}
</style>
	</head>

	<body>
		<div class="layui-container" style="min-width: 1140px;">
			<div class="layui-row" id="header">
				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="banner"></div>

				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="bar">
					<ul class="layui-nav" lay-filter="" id="navbar">
						<li class="layui-nav-item ">
							<a href="../index">Home</a>
						</li>
						<li class="layui-nav-item layui-this">
							<a href="../About">About</a>
						</li>
						<li class="layui-nav-item">
							<a href="../Download">Download</a>
						</li>
						<li class="layui-nav-item">
							<a href="../Submit">Submit</a>
						</li>
						<li class="layui-nav-item">
							<a href="../Contact">Contact</a>
						</li>
					</ul>

				</div>

			</div>

			<div class="layui-row" id="bodyer">

				<div class="layui-main site-inline" id="site-tree">
					<div class="site-tree">
						<fieldset class="layui-elem-field layui-field-title" style="margin-bottom:5px;margin-top:20px;">
							<legend><i>Catalog</i></legend>
						</fieldset>
						<ul class="layui-tree">
							<li>
								<h2 onclick="javascript:location.href='#About-dbMCS';">About dbMCS</h2>
							</li>
							<li>
								<h2 onclick="javascript:location.href='#Web-Browser-Requirements';">Web Browser Requirements</h2>
							</li>
							<li>
								<h2 onclick="javascript:location.href='#Evidence-System';">Evidence System</h2>
							</li>
							<li>
								<h2 onclick="javascript:location.href='#What-can-users-do-in-dbMCS';">What can users do in dbMCS</h2>
							</li>

							<li>
								<h2 onclick="javascript:location.href='#Usage';">Usage</h2>
							</li>
							<li class="site-tree-noicon">
								<a href="#Browse">
									<cite>1. Browse</cite>
									<em></em>
								</a>
							</li>
							<li class="site-tree-noicon">
								<a href="#Search">
									<cite>2. Search</cite>
									<em></em>
								</a>
							</li>
							<li class="site-tree-noicon">
								<a href="#Download">
									<cite>3. Download</cite>
									<em></em>
								</a>
							</li>
							<li class="site-tree-noicon">
								<a href="#Contact">
									<cite>4. Contact</cite>
									<em></em>
								</a>
							</li>
							<li>
								<h2 onclick="javascript:location.href='#Database-Summary';">Database Summary</h2>
							</li>
							<li>
								<h2 onclick="javascript:location.href='#Version';">Version</h2>
							</li>
						</ul>
					</div>
					<div class="site-content">


						<blockquote class="layui-elem-quote"  id="About-dbMCS">
							About dbMCS
						</blockquote>

						<div class="layui-text" style="margin-bottom:7px;text-align: justify;text-justify:inter-ideograph;">
							Lacking of database focusing on the mutation markers of anti-cancer drug sensitivity limited the investigation of patterns for mutation markers. We developed construct an infrastructure to highly operable and quick access to data of drug sensitivity mutation markers. The dbMCS mainly consists of five parts: Home, About, Submit, Download and Contact. Users can use keywords to quickly determine whether a cancer caused by a genetic mutation responds to an anticancer drug. Each association in the database contains information of gene, cancer type, mutation, drug response, etc., and relevant references are also provided for each independent item. The database will be of great importance for tackling the problem of drug sensitivity prediction and biomarker identification in cancers.						</div>
						<div class="layui-text" style="margin-bottom:7px;text-align: justify;text-justify:inter-ideograph;margin-bottom:7px;text-indent: 1em;">
							According to Human Genome Variation Society nomenclature, we standardized the variant descriptions for all three levels (gDNA, cDNA and protein) using TransVar (<a href="https://bioinformatics.mdanderson.org/transvar/" target="_blank">https://bioinformatics.mdanderson.org/transvar</a>). To acquire standard disease terminology, we mapped the related disease onto Disease Ontology (<a href="https://disease-ontology.org/" target="_blank">https://disease-ontology.org</a>). For the drugs involved in the database, we get the standard drug names in DrugBank (<a href="https://go.drugbank.com/" target="_blank">https://go.drugbank.com</a>). Users can query and browse the detailed information of each index, and also link to the above useful public resources.
						</div>



						<hr class="layui-bg-green">
						<blockquote class="layui-elem-quote" id="Web-Browser-Requirements">
							Web Browser Requirements
						</blockquote>
						<div class="layui-text">
							The dbMCS requires a modern web browser with JavaScript and cookies enabled. To view the complex details, pop-ups must not be blocked. The following browsers have been thoroughly tested with dbMCS:
							<ul>
								<li>Mozilla Firefox, version 7 or above</li>
								<li>Internet Explorer, versions 11 or above</li>
								<li>Chrome, version 8 or above</li>
							</ul>
							The latest version of Firefox and Chrome is recommended for visualization.
						</div>

						<hr class="layui-bg-green">
						<blockquote class="layui-elem-quote" id="Evidence-System">
							Evidence System
						</blockquote>
						<div class="layui-text">
							<p>Levels of evidence for entries in dbMCS.</p>
							<table class="layui-table" lay-skin="nob" style="margin-top:0;">
								<colgroup>
									<col width="150">
									<col width="150">
									<col>

								</colgroup>
								<thead>
								<tr style="border-top:1px solid;border-bottom:1px solid;">
									<th>Level NO.</th>
									<th>Category</th>
									<th>Definition</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Level 1</td>
									<td>Approved</td>
									<td>Items associated with FDA-approved and international guidelines.</td>
								</tr>
								<tr>
									<td>Level 2</td>
									<td>Clinical</td>
									<td>Items associated with clinical trials such as Phase I, Phase II, Phase III, clinical study and so on.</td>
								</tr>
								<tr style="border-bottom:1px solid;">
									<td>Level 3</td>
									<td>Preclinical</td>
									<td>Items associated with in preclinical experiments such as preclinical-cell culture, preclinical-PDX, preclinical-cell line xenograft and so on.</td>
								</tr>

								</tbody>
							</table>
						</div>

						<hr class="layui-bg-green">
						<blockquote class="layui-elem-quote" id="What-can-users-do-in-dbMCS">
							What can users do in dbMCS
						</blockquote>
						<div class="layui-text">
							<ul>
								<li>The users can browse the data about the mutation markers of anti-cancer drug sensitivity by key words, disease, gene, cDNA and drug.</li>
								<li>The users can easily apply the search function supporting fuzzy query to acquire what interested in the cancer research field.</li>
								<li>For the locations of mutation and protein domains, dbMCS provides direct visualization.</li>
								<li>The users can freely download the standardized data which are valuable for clinical treatment of cancer.</li>
								<li>The users can submit new data to us for expending the database.</li>
							</ul>
						</div>

						<hr class="layui-bg-green">
						<blockquote class="layui-elem-quote" id="Usage">
							Usage
						</blockquote>
						<div class="layui-text">
							In dbMCS, we tried to make it powerful and convenient to be used. This Usage is prepared for the online service.
						</div>
						<div class="layui-text">
							Capitalised titles correspond to column headings in the web page tables:
						</div>
						<div class="layui-text">
							<ul>
								<li>GENE: The official gene symbol</li>
								<li>DISEASE: disease terminology in Disease Ontology</li>
								<li>DOID: Disease Ontology identifier</li>
								<li>DRUG: The uniform drug names in DrugBank </li>
								<li>Type: missense, FS-indel, duplication or complex-indel (insertion occurs simultaneously with deletion)</li>
							</ul>
						</div>
						<br/>
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
						<div class="layui-text" id="Browse">
							<h3>1. Browse</h3>
							You can select one or more of the four options listed in the browse area (Disease, Gene, cDNA and Drug). The cDNA option only can be available after a gene is selected.						</div>
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12 imgtext">
							<br>
							<div style="/* float:left;  */clear: both;" align="center">
								<img src="/static/img/browse.png" width="800px" alt="" hspace="8"><br />
							</div>
							<br>
						</div>

						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12 imgtext">

							<div style="/* float:left;  */clear: both;" align="center">
								<img src="/static/img/browse_ATM.png" width="800px" alt="" hspace="8"><br />
								<br>
							</div>

						</div>
						</div>

						<br/>
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
						<div class="layui-text" id="Search">
							<h3>2. Search</h3>
							You can input one keyword to search in the dbMCS. The search fields include disease name, gene name, drug name or mutation (gDNA, cDNA or protein sequences). Only the GRCh37 genome assembly is supported.						</div>
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12 imgtext">
							<div style="/* float:left;  */clear: both;" align="center">
								<br>
								<img src="/static/img/search.png" width="800px" alt="" hspace="8"><br />
								<br>
							</div>
						</div>
						</div>
						<br/>
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
						<div class="layui-text" id="Download">
							<h3>3. Download</h3>
							We provide the option to download the full database. If you'd like to download it, please select the menu "Download" and click the download button.
						</div>
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12 imgtext">
							<div style="/* float:left;  */clear: both;" align="center">
								<br>
								<img src="/static/img/download.png" width="800px" alt="" hspace="8"><br />
								<br>
							</div>
						</div>
						</div>
						<br/>
						<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
						<div class="layui-text" id="Contact">
							<h3>4. Contact</h3>
							If you have some suggestion or questions which are not listed above, please contact us for details.<br> (Email: zhenyuyue@ahau.edu.cn)
						</div>
						</div>


						<hr class="layui-bg-green">
						<blockquote class="layui-elem-quote" id="Database-Summary">
							Database Summary (current version)
						</blockquote>
						<div class="layui-text">
							(A) Statistics in dbMCS
							<table class="layui-table" lay-skin="nob" style="margin-top:0;">

								<thead>
									<tr style="border-top:1px solid;border-bottom:1px solid;">
										<td>Gene</td>
										<td>Mutation</td>
										<td>Disease</td>
										<td>Reference</td>
										<td>Drug</td>
										<td>Sensitivity Entry</td>
										<td>Resistance Entry</td>
									</tr>
								</thead>
								<tbody>
									<tr  style="border-bottom:1px solid;">
										<td>146</td>
										<td>1271</td>
										<td>185</td>
										<td>1306</td>
										<td>486</td>
										<td>3151</td>
										<td>1276</td>
									</tr>
								</tbody>
							</table>
							<div class="layui-text">
								Note: Sensitivity Entry, number of entries recording a mutation-disease-drug relationship with sensitivity. Resistance Entry, number of entries recording a mutation-disease-drug relationship with resistance.
							</div>

							<div style="margin-top: 7px"></div>
							(B) Type distribution
							<table class="layui-table" lay-skin="nob" style="margin-top:0px;margin-bottom:0px;">

								<thead>
									<tr style="border-top:1px solid;border-bottom:1px solid;">
										<td>Type</td>
										<td>Number</td>
										<td>Type</td>
										<td>Number</td>
									</tr>
								</thead>
								<tbody>
									<tr><td>Missencse</td>
										<td>978</td>
										<td>Copy number gain</td>
										<td>46</td>
									</tr>
									<tr><td>IF-deletion</td>
										<td>61</td>
										<td>Copy number loss</td>
										<td>1</td>
									</tr>
									<tr><td>IF-insertion</td>
										<td>35</td>
										<td>Nonsense</td>
										<td>31</td>
									</tr>
									<tr><td>FS-deletion</td>
										<td>6</td>
										<td>Synonymous</td>
										<td>16</td>
									</tr>
									<tr><td>FS-insertion</td>
										<td>7</td>
										<td>Noncoding</td>
										<td>4</td>
									</tr>
									<tr><td>Duplication</td>
										<td>19</td>
										<td>Other</td>
										<td>27</td>
									</tr>
									<tr style="border-bottom:1px solid;"><td>Complex-indel</td>
										<td>40</td>
										<td>Total</td>
										<td>1271</td>
									</tr>
								</tbody>
							</table>
							<div class="layui-text" style="margin-top: 8px">
								Note: FS, frameshift; IF, inframe; Complex-indel, insertion occurs simultaneously with deletion.
							</div>
						</div>


						<!-- <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:5px;margin-top:20px;" id="Version">
							<legend>Version</legend>
						</fieldset> -->
						<hr class="layui-bg-green">
						<blockquote class="layui-elem-quote" id="Version">
							Version
						</blockquote>
						<div class="layui-text">
							The current version number is 1.0 - January, 2021. The most recent update to data was on January 6th, 2021.
						</div>
					</div>
				</div>
			</div>
			</div>

		</div>

		<div class="layui-row" id="footer">

			<div class="copyright">
				Copyright©
				<a class="ow" href="https://www.ahau.edu.cn/" target="_blank">AnHui Argricultural University</a> ©All Rights Reserved.
			</div>
			<div class="use">
				<!-- Website content is for educational and research purposes only and is not intended to be used for medical advice, diagnosis or treatment. -->
			</div>
		</div>
		</div>
		<script src="/static/layui/layui.all.js"></script>
		<script src="/static/js/jquery-1.9.1.min.js"></script>
		<script>
			var rollSet = $('#site-tree');
			var offset = rollSet.offset();
			var fwidth = $("#footer").height();
			console.log(fwidth);
			$(window).scroll(function() {
				var scrollTop = $(window).scrollTop();
				var scrollBtm = $(document).height() - $(window).scrollTop() - rollSet.height();

				if(offset.top < scrollTop) {
					//console.log(scrollTop+","+offset.top+","+scrollBtm+","+fwidth);
					if(scrollBtm > fwidth) {
						rollSet.addClass('site-fix');
					} else {
						//rollSet.removeClass('site-fix');
					}

				} else {
					rollSet.removeClass('site-fix');
				}
				if(document.getElementById("site-tree").getBoundingClientRect().top < 0) {
					rollSet.addClass('site-fix');
				} else {
					rollSet.removeClass('site-fix');
				}
			})
		</script>
	</body>

</html>
