<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>dbWorm</title>
		<link rel="stylesheet" href="/static/layui/css/layui.css">
		<link rel="stylesheet" href="/static/css/DB_CSS/home.css" />
	</head>

	<body>
		<div class="layui-container" style="min-width: 1140px;">
			<div class="layui-row" id="header">
				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="banner"></div>

				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="bar">
					<ul class="layui-nav" lay-filter="" id="navbar">
						<li class="layui-nav-item ">
							<a href="../index">Home</a>
						</li>
						<li class="layui-nav-item">
							<a href="../About">About</a>
						</li>
						<li class="layui-nav-item layui-this">
							<a href="../Download">Download</a>
						</li>
						<li class="layui-nav-item">
							<a href="../Submit">Submit</a>
						</li>
						<li class="layui-nav-item">
							<a href="../Contact">Contact</a>
						</li>
					</ul>

				</div>

			</div>

			<div class="layui-row" id="bodyer">
				<div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1" id="overview" style="margin-bottom:20px;margin-top:20px;">
					<fieldset class="layui-elem-field layui-field-title">
						<legend><i>Download dbMCS datasets</i></legend>
					</fieldset>
				</div>
				<div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
						<fieldset class="layui-elem-field">
							<legend>Version 1.0,January 10th, 2021</legend>
							<div style="padding-top:10px;padding-bottom:10px;" class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1 layui-text">

								<table  class="layui-table" lay-size="lg">
									<colgroup>
										<col width="300">
										<col width="130" >
									</colgroup>

									<tbody>
									<tr>
										<td><a style="font-size: 120%;color: black">Mutation markers for sensitivity</a></td>
										<td style="text-align: center;"><a href="" class="layui-btn layui-icon" >&#xe601;Download</a></td>
									</tr>
									<tr>
										<td ><a style="font-size: 120%;color: black">Mutation markers for resistance</a></td>
										<td style="text-align: center;"><a href="" class="layui-btn layui-icon" >&#xe601;Download</a></td>
									</tr>
									</tbody>
								</table>
							</div>
						</fieldset>
						<fieldset class="layui-elem-field">
							<legend>General annoucement</legend>

							<div style="padding-top:10px;padding-bottom:10px;" class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">

								<div class="layui-text" >
									All the files are free to academic researchers worldwide. Not for profit purposes.
								</div>
								<div class="layui-text">
									If you have any problems with the download, please contact us.
								</div>
							</div>
						</fieldset>
				</div>
			</div>


		</div>
		<div class="layui-row" id="footer">

				<div class="copyright">
					Copyright©
					<a class="ow" href="https://www.ahau.edu.cn/" target="_blank">AnHui Argricultural University</a> ©All Rights Reserved.
				</div>
				<div class="use">
					<!-- Website content is for educational and research purposes only and is not intended to be used for medical advice, diagnosis or treatment. -->
				</div>
			</div>
		<script src="/static/layui/layui.all.js"></script>
		<script>
			layui.use('element', function() {
				var element = layui.element;
			});
		</script>
	</body>

</html>
